:root {
    --text-color: #657b83;
    --dark: #073642;
    --background-color: #fdf6e3;
    --light: #eee8d5;
    --accent-1: #93a1a1;
    --red: #dc322f;
}


/*resets stylesheet*/
* {
    border: none;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    text-decoration: none;
}

html {
    background: var(--light);
}

/*utilitary classes*/
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    width: 900px;
    max-width: 100vw;
    margin: 0px auto;
}

main.container {
    margin: 20px auto;
}

.text_right {
    text-align: right;
}

.pad-10 {
    padding: 10px;
}

.gap-10 {
    gap: 10px;
}
/*HTML elements*/
h1 {
    font-size : 30px;
    text-align: center;
    color: var(--dark);
}

h2 {
    font-size: 25px;
    color: var(--dark);
    padding-bottom: 20px;
}

h3 {
    font-size: 18px;
    color: var(--dark);
}

section {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto 0px auto;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
}

/*forms*/
.signForm {
    width: 100%;
}

input, textarea {
    width: 100%;
    border: 1px solid var(--text-color);
    background: var(--background-color);
    border-radius: 5px;
}

.miniInput{
    width: 48%;
}

.bigInput{
    width : 100%;
}

button {
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--accent-1);
    color: var(--background-color);
}

td button {
    width: 100%;
}

button:focus {
    box-shadow : inset 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.message {
    color: var(--red);
    font-style: italic;
    text-align: center;
}

/*navbar + footer*/
#nav, footer {
    background: var(--dark);
    font-weight: bold;
}
#nav a, footer a {
    color: var(--accent-1);
}

footer>div {
    justify-content: space-evenly;
}

footer>div>*{
    width: 30%;
}

footer p, footer a{
    font-size: 13px;
    font-weight: normal;
}

footer h3 {
    color: var(--light);
}

/*profile*/
#user_info {
    width: 100vw;
    max-width: 400px;
}

#user_info img {
    border-radius: 500px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#edit {
    width: 150px;
}

.tinyGuy {
    margin: 0;
    font-size: 13px;
    padding: 5px 10px;
    background-color: var(--accent-1);
    color: var(--light);
    width: fit-content;
    border-radius: 5px;
}

.dark .tinyGuy {
    background-color: var(--text-color);
}

.list {
    align-content: center;
    width: 880px;
    max-width: 100vw;
    position: relative;
    left: -20px;
    border-bottom : 1px solid var(--text-color);
}

.dark {
    background: var(--accent-1);
    border-bottom : none;
    margin-top: 5px;
}

.list:last-child {
    border-bottom: none;
}

select {
    padding: 5px;
    border-radius: 5px;
    background: var(--light);
    border: 1px solid var(--text-color);
}